<!doctype html>
<html>
  <head>
    <title>Página não encontrada</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
  </head>
  <body>
  	<div>
      <div>
      <h1>Página não encontrasdasdada!<h1>
      </div>  
      <h2>
        <a href="/">Voltar para a página principal</a>
      </h2>
  	</div>
  </body>
</html>